/* HEADER */
.nav_container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

/* CONTANT */
.header_contact,
.contant_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.header_contact {
  margin: 0 50px;
  padding: 5px 0;
}

.header_contact a {
  text-decoration: none;
  color: #444444;
}

.contant_item img {
  height: 20px;
}

.main_nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 50px;
  padding-bottom: 5px;
}

/* LOGO */
.logo_container {
  text-decoration: none;
  color: inherit;
}

.logo_name {
  font-size: 1.5rem;
}

.logo_name span {
  color: #eb2d29;
}

/* MIDDLE CONTAINER */
.middle_header_container,
.mobile_second_nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.middle_header_container a,
.mobile_second_nav a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease-in-out;
}

.middle_header_container a:hover,
.mobile_second_nav a:hover {
  color: #eb2d29;
}

/* RIGHT CONTAINER*/
.right_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.nav_info_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.nav_info_container img {
  width: 25px;
}

.cart_count {
  position: relative;
  top: 10px;
  right: 10px;
  background-color: #eb2d29;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#admin_panel img {
  width: 35px;
  margin-right: 10px;
}

/* MOBILE NAV CONTAINER */
.mobile_second_nav {
  display: none;
}

/* PHONE */
@media screen and (max-width: 800px) {
  .logo_name {
    font-size: 1.2rem;
  }

  .nav_info_container img {
    width: 20px;
  }

  #admin_panel img {
    width: 25px;
    margin-right: 10px;
  }

  .main_nav_container,
  .header_contact {
    margin: 0 20px;
  }

  .middle_header_container {
    display: none;
  }

  .mobile_second_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-bottom: 5px;
  }
}